BAABo.xcodeproj/project.xcworkspace/xcuserdata/chami.xcuserdatad/UserInterfaceState.xcuserstate
BAABo.xcodeproj/project.xcworkspace/xcuserdata/hyeonjin.xcuserdatad/UserInterfaceState.xcuserstate
BAABo.xcodeproj/project.xcworkspace/xcuserdata/wren.xcuserdatad/UserInterfaceState.xcuserstate
BAABo.xcodeproj/xcuserdata/wren.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BAABo/Config/Secrets.plist

# Xcode user-specific files (개인 설정)
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# 빌드 산출물(옵션)
DerivedData/
.build/

